# Django core
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=generate_with_get_random_secret_key
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

SERP_API_KEY=your_serpapi_key_here

CONTACT_EMAIL=your_email@example.com

DB_NAME=LitrixDB
DB_USER=postgres
DB_PASSWORD=your_local_password
DB_HOST=localhost
DB_PORT=5432

DATABASE_URL=postgresql://user:pass@host.neon.tech/dbname?sslmode=require

RANKING_YEAR=2025
